body {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
		url('http://via.placeholder.com/300x600') no-repeat top center fixed;
	background-size: cover;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.header {
	height: 400px;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}
.content {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

#moreinfo {
	text-decoration: underline;
	color: #50FFB1;
	cursor: pointer;
}

h1 {
	font-weight: 700;
}
p {

}
a {
	color: #50FFB1;
}